@model Pizza

<div class="container">
    <div class="row">
        <div class="my-card-container card-@Model.PizzaId col-12 my-3 mt-0">
            <div class="overlay">
                <div class="items"></div>
                <div class="items head">
                    <p>@Model.Name</p>
                    <p class="ms-card-p">@Model.Description</p>
                    <hr />
                </div>
                <div class="items price">
                    <p class="new">@Model.Price</p>
                </div>
                <div class="items cart">
                    <i class="fa fa-shopping-cart"></i>
                    <span>ORDER NOW</span>
                </div>
            </div>
        </div>
    </div>
</div>
