@model Pizza

<div class="container d-flex align-items-center justify-content-center">
    <div class="my-card-container card-@Model.PizzaId my-3 mt-0">
        <div class="overlay">
            <div class="items"></div>
            <div class="items head">
                <p>@Model.Name</p>
                <p class="ms-card-p">@Model.Description</p>
                <p class="ms-card-secondary">
                    <span>
                        Category:
                        @if (Model.Category != null)
                        {
                            @Model.Category.Title
                        }
                        else
                        {
                            <small>
                                Not specified
                            </small>
                        }
                    </span>
                </p>
                <hr />
            </div>
            <div class="items price">
                <p class="new">€@Model.Price</p>
            </div>
            <div class="items cart">
                <i class="fa fa-shopping-cart"></i>
                <span>ORDER NOW</span>
            </div>
        </div>
    </div>
</div>
